@model IEnumerable<University.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<div class="container-fluid bg-secondary text-light text-center p-5">
    <div class="container bg-secondary bg-gradient p-5">
        <h1 class="display-1">Student Body Statistics</h1>
        <hr>
        <div class="d-grid gap-2">
            <a class="btn btn-outline-info bg-gradient" asp-action="Index">Back</a>
        </div>
        <hr>
    </div>
</div>

<div class="container-fluid bg-secondary text-light text-center p-5">
    <div class="container bg-secondary bg-gradient p-5">
        <div>
            <h1 class="display-4">Student</h1>
            <hr />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">                    
                    <table class="table text-start">
                        <tr>
                            <th>Enrollment</th>
                            <th>Date Students</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                                </td>
                                <td>
                                     @item.StudentCount
                                </td>
                            </tr>
                        }
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</div>